
<!DOCTYPE html>
<meta charset="UTF-8"> 
<html>
	<div class="site"> 
		<head>
			<title></title>
			<script src="../scripts/controllers/main.js"></script>
			<script src="../scripts/practise.js"></script>
			<link rel="stylesheet" href="../styles/main.css">
		</head>
		
		<body>
			<header class="title">	
				<h1>ASHAY NIRGUDE</h1>
				<h2>WEB DEVELOPER</h2>
				<nav>
					<ul>
						<li>Gallery</li>					
						<li>About</li>
						<li><a href="contact.html">Contact</a></li> 					
					</ul>
				</nav>
			</header>		
			
			<main>
				<section>

					<figure>
					<figcaption></figcaption>	
					</figure>
				
				</section>
				<section>
					
				</section>

			</main> 
			
			<footer>
				<ul>
					<li>Email</li>				
					<li><a href="http://facebook.com/ashay.nirgude" target="_blank">Facebook</a></li>
					<li><a href="www.linkedin.com/in/nirgudeashay" target="_blank">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</div>
</html>
