

XtraInnings

This is a WordPress based web application offering socializing and dating services for senior citizens in the Greater Seattle Area. The project was completed in 10 weeks by a team of 6.

THE PROCESS

We started with audience definition and conducted empathic design principles throughout the project. The unarticulated needs and potential uses of the application were unveiled by user interviews. The data from the field guided us all the way through content strategy till design and implementation. Starting from the day we had the mock-ups, testing had been in iteration with refining the design and debugging the system for over two weeks.

Portraits

Photography is the only language that can be understood in this world!